<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/tr/b/bd/%C4%B0yte_t%C3%BCrk%C3%A7e_logo.png" type="image/x-icon" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/low_year_end.css' %}">
</head>
<body>
<div class="center">
    <h1 class="heading"> Your end of year average score is insufficient to pass prep year . </h1>
     <button class="home_button">
         <a class="home_link" href="{% url 'home' %}">Go back</a>
    </button>
</div>
{%block content%} {%endblock%}
</body>